# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so

# Django
*.log
*.pot
*.sqlite3
/db.sqlite3

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Virtual environment
venv/
venv/*

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Local settings
local_settings.py
